@if (currentWeatherData) {
<main class="min-h-screen h-full">
    <div class="container h-full min-h-screen px-4 mx-auto flex justify-center items-center">
        <div class="flex my-5 h-full flex-col lg:flex-row items-center lg:items-stretch">

            <div
                class="section1 p-5 lg:w-2/5 w-full  bg-white bg-opacity-25 lg:rounded-l-2xl lg:rounded-tl-2xl rounded-t-2xl lg:rounded-t-none">
                <div class="container gap-y-3 flex flex-col  px-4 mx-auto">

                    <div id="Search" class="w-full">
                        <div class="flex flex-col items-center justify-center gap-2 lg:flex-row">
                            <input [(ngModel)]="searchValue" type="text"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 pl-10 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Search for places ..." />
                            <button (click)="getForecast(searchValue)" type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-3 px-4  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Search</button>
                        </div>
                    </div>

                    <div id="weather-icon" class="w-1/2">
                        <img class="w-full"
                            [src]="'./assets/conditions/' + currentWeatherData.current.condition.text.toLowerCase() + '.svg'"
                            alt="{{currentWeatherData.current.condition.text}}">
                    </div>

                    <div class="w-full text-white">
                        <h1 class="text-3xl">{{currentWeatherData.location.region.split(' ').slice(0,3).join(' ')}}</h1>
                        <h3 class="text-3xl">{{currentWeatherData.current.temp_c}}°C</h3>
                        <div class="flex gap-1">
                            <p>{{currentWeatherData.location.localtime | date:'EEEE' }}</p>
                            <p>{{currentWeatherData.location.localtime | date:'shortTime'}}</p>
                        </div>
                    </div>

                    <div class="w-full text-white">
                        <h6><i
                                class="text-white me-2 fa-solid fa-cloud"></i>{{currentWeatherData.current.condition.text}}
                        </h6>
                        <h6><i
                                class="text-blue-500 me-2 fa-solid fa-droplet"></i>{{currentWeatherData.current.humidity}}%
                        </h6>
                    </div>
                   
                  
                   
                </div>
            </div>


            <div class="section2 p-5 lg:w-3/5 w-full  bg-white bg-opacity-35 lg:rounded-r-2xl lg:rounded-br-2xl  rounded-b-2xl lg:rounded-b-none">
                <div class="container px-4 h-full mx-auto">
                    <div class="flex  items-center justify-between">
                        <div class="flex gap-3 my-5 links">
                            <a class="p-2" routerLinkActive="bg-blue-600  transition-all rounded-xl text-white"
                                routerLink="today">Today</a>
                            <a class="p-2" routerLinkActive="bg-blue-600  transition-all rounded-xl text-white"
                                routerLink="week">Week</a>
                        </div>
                        <div class="flex gap-3">
                            <button type="button" (click)="scale('C')" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">C</button>
                            <button type="button" (click)="scale('F')" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">F</button>
                        </div>
                    </div>

                    <router-outlet></router-outlet>
                    <h2 class="my-3 text-3xl lg:text-xl text-pretty text-white">Today's Highlights:</h2>
                    <div
                        class="flex flex-wrap gap-y-3 md:gap-y-3 gap-1  flex-col lg:flex-row items-center lg:items-stretch justify-center lg:justify-between my-3">
                        <div class="lg:w-[30%] w-full">
                            <app-weather-uv></app-weather-uv>
                        </div>
                        <div class="lg:w-[30%] w-full">
                            <app-weather-windstatus></app-weather-windstatus>
                        </div>
                        <div class="lg:w-[30%] w-full">
                            <app-weather-sunstatus></app-weather-sunstatus>
                        </div>
                        <div class="lg:w-[30%] w-full">
                            <app-weather-humidity></app-weather-humidity>
                        </div>
                        <div class="lg:w-[30%] w-full">
                            <app-weather-visibility></app-weather-visibility>
                        </div>
                        <div class="lg:w-[30%] w-full">
                            <app-weather-airquality></app-weather-airquality>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

}